* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --heading1 : 3.819vw;
    --heading2 : 2.8rem;
    --heading3 : 2.75rem;
    --heading4 : 2.25rem;
    --paragraph1 : 16px;
    --paragraph2 : 1.25rem;

    --bg-color: #1A1B25;
    --text-color: white;
    --cta-btn: linear-gradient(180deg, #FFF 0%, #2F2FBB 115.18%);
    --base-bg-color- : #1A1B25;
}

h1,h2,h3,h4,h5,p,li {
    /* color: var(--text-color); */
}

a {
    color: #1A1B25;
}

body {
    background-color: #F9F9F9;
}

.container {
    margin-left: 120px;
    margin-right: 120px;
}

.nav-logo img{
    width: 50%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.nav-menu {
    display: flex;
    gap: 50px;
    transition: 1s ease;
}

.nav-menu li {
    color: #1A1B25;
    text-decoration: none;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(46, 46, 46);
}

/* Header */

.header-section {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.header-section p {
    line-height: 180%;
}

.header-text {
    margin-top: 8%;
}

.header-image img {
    height: 78vh;
}

h5 {
    font-weight: 500;
    font-size: 16px;
}

h1 {
    font-size: var(--heading1);
    color:  #333333;
}

p {
    font-size: var(--paragraph1);
}

.header-section h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-section {
    margin-top: 30px;
}

.btn {
    padding: 16px 46px;
    border-radius: 10px;
    font-size: 18px;
}

.btn-cta {
    background-color: #fcda68;
    color: #171513;
    font-weight: 500;
}

.btn-flat {
    background-color: transparent;
}

/* animation */

.animation-skill {
    background-color: #171513;
    color: white;
    height: 10vh;
    text-align: center;
    margin-top: -8px;
    display: flex;
    justify-content: space-around;
}

.animation-skill p {
    display: flex;
    font-size: 32px;
    align-items: center;
}


/* benefit */

main {
    
    background-image: radial-gradient(circle, #cbcbcbf4 1px, transparent 1px);
    background-size: 20px 20px; /* Ukuran titik-titik */
    background-position: center center; /* Posisi pusat latar belakang */
    background-repeat: repeat; /* Mengulang pola titik-titik */
    
    
}

.benefit-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    padding-top: 100px;
    justify-items: center;
    margin-bottom: 100px;
}

.image-benefit img {
    width: 490px;
}

.benefit-text {
    margin-top: 20%;
}

.benefit-list {
    margin-bottom: 30px;
}

.benefit-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

h3 {
    font-size: 42px;
}

/* Achievements */

.achievements-section {
    background-color: #f5f5f5;
    text-align: center;
    margin-bottom: 100px;
    border-radius: 10px;
    padding: 50px;

}

.achievements-section h3 {
    margin-bottom: 20px;
}

.achievements-section img {
    max-width: 45vw;
}

/* portofolio card */

.portofolio-section {
    padding-bottom: 200px;
}

.portofolio-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-filter {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.btn-filter {
    padding: 10px 24px;
    border-radius: 10px;
    font-size: 15px;
}

.btn-filter-selected {
    background-color: #fcda68;
    font-weight: 500;
}

.card {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    background-color: white;
    height: 500px;
    border-radius: 10px;
    transition: 0.5s all ease-in-out;
}

.card-image.uiux-furniture {
    background-image: url(Img/furniture.png);
    background-size: cover;
    border-radius: 10px;
}
.card-image.fe-bmi {
    background-image: url(Img/BMI.png);
    background-size: cover;
    border-radius: 10px;
}
.card-image.uiux-gestoria {
    background-image: url(Img/gestoria.png);
    background-size: cover;
    border-radius: 10px;
}
.card-image.fe-nftcat {
    background-image: url(Img/nft-cat.png);
    background-size: cover;
    border-radius: 10px;
}

.card-text {
    padding: 10% 6%;
}

.tech-stack {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.tech-stack img{
    width: 40px;
}

.card-desc {
    font-size: 18px;
}

.portofolio-section button.btn-cta{
    display: flex;
    margin: 50px auto;
}

.card:hover{
    box-shadow: 0px 0px 20.6px 0px rgba(77, 77, 77, 0.668);
    scale: 1.05;
    transition: 0.5s all ease-in-out;
}

.btn-cta:hover {
    background-color: #333333;
    color: #fcda68;
    transition: 0.5s all ease-in-out;
}

/* footer */

footer {
    padding-top: 50px;
    background-color: #333333;
    padding-bottom: 50px;
    color: white;
}

.footer-section {
    display: grid;
    grid-template-columns: 1fr 0.7fr 0.7fr;
}

.footer-text {
    margin-top: 31px;
}

.footer-list li {
    margin-bottom: 20px;
}

h4 {
    font-size: 26px;
    font-weight: 400;
}

.footer-image img{
    width: 300px;
}

.footer-contact .contact img {
    fill: red;
}

.contact {
    margin-bottom: 40px;
}














/* CSS lainnya di atas */

@media (max-width: 768px) {

    .container {
        margin-left: 24px;
        margin-right: 24px;
    }

    .nav-menu {
        position: fixed;
        /* left: -100%; */
        top: 70px;
    }

    .hamburger {
        display: block; 
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    } 

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%; 
        top: 70px;
        padding-top: 70px;
        gap: 15vh;
        height: 100vh;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        transition: 1s ease-in-out;
        font-size: 20px
    }


    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
        transition: 1s ease-in-out;
    }
}

@media (max-width: 1440px) {

    .header-image img {
        height: 52vh;
    }
}



/* page details */

.portofolio-section.details-page {
    padding-top: 100px;
}

/* about page */

.experience-section {
    margin-top: 100px;
    padding-bottom: 100px;
}

.box-experience {
    background-color: white;
    width: 100%;
    padding: 20px 2vw;
    border-radius: 10px;
}

.experience-head {
    display: flex;
    justify-content: space-between;
}

.experience-section h3 {
    margin-bottom: 30px;
}

.box-experience {
    margin-bottom: 30px;
}

.experience-section a {
    display: flex;
    justify-content: center;
}

/* Blog Section */

.blog-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.blog-card {
    background-color: white;
    padding: 20px 20px;
}

.blog-cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
}

.blog-card {
    border: 1px solid rgb(53, 53, 53);
    margin-bottom: 30px;
}
.blog-card:hover {
    border: 1px solid rgb(219, 182, 0);
    background-color: #333333;
    color: white;
}

.blog-card-image {
    height: 200px;
}

.blog-card-image.blog-1 {
    background-image: url(/Img/blog1.png);
    background-size: cover;
}
.blog-card-image.blog-2 {
    background-image: url(/Img/blog2.png);
    background-size: cover;
}
.blog-card-image.blog-3 {
    background-image: url(/Img/blog3.png);
    background-size: cover;
}

.blog-section h4 {
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog-section a {
    justify-content: center;
}

a {
    color: #171513 !important;
}

